<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Karla&family=Lato&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,700&family=Syne:wght@400;500;600&display=swap" rel="stylesheet" />

    <link rel="stylesheet" href="css/main.css" />
    <title>MERN - Skateshop</title>
  </head>
  <body>
    <!-- Header -->
    <header class="main-header">
      <a href="#" class="logo">Skateshop</a>
      <div class="bx bx-menu" id="menu-icon"></div>

      <ul class="navbar">
        <li><a href="#shop">Shop</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>

      <div class="icons">
        <a href="#"><i class="bx bx-search"></i></a>
        <a href="#"><i class="bx bxs-user-circle"></i></a>
        <a href="#"><i class="bx bxs-shopping-bag"></i></a>
      </div>
    </header>
    <!-- End Header -->

    <!-- Shop -->
    <section class="shop" id="shop">
      <div class="container">
        <!-- Box -->
        <div class="box">
          <img src="images/Girl-Carroll-Hello-Kitty.png" alt="" />
          <h4 class="product-title">I'm a product</h4>
          <h5 class="price">$15.00</h5>
          <div class="cart">
            <a href="#"><i class="bx bx-cart"></i></a>
          </div>
        </div>
        <!-- End Box -->

        <!-- Box -->
        <div class="box">
          <img src="images/Girl-Pacheco-Hello-Kitty.png" alt="" />
          <h4 class="product-title">I'm a product</h4>
          <h5 class="price">$15.00</h5>
          <div class="cart">
            <a href="#"><i class="bx bx-cart"></i></a>
          </div>
        </div>
        <!-- End Box -->

        <!-- Box -->
        <div class="box">
          <img src="images/chocolate-roberts.png" alt="" />
          <h4 class="product-title">I'm a product</h4>
          <h5 class="price">$15.00</h5>
          <div class="cart">
            <a href="#"><i class="bx bx-cart"></i></a>
          </div>
        </div>
        <!-- End Box -->

        <!-- Box -->
        <div class="box">
          <img src="images/april-og-logo.png" alt="" />
          <h4 class="product-title">I'm a product</h4>
          <h5 class="price">$15.00</h5>
          <div class="cart">
            <a href="#"><i class="bx bx-cart"></i></a>
          </div>
        </div>
        <!-- End Box -->

        <!-- Box -->
        <div class="box">
          <img src="images/dgk-blossom.png" alt="" />
          <h4 class="product-title">I'm a product</h4>
          <h5 class="price">$15.00</h5>
          <div class="cart">
            <a href="#"><i class="bx bx-cart"></i></a>
          </div>
        </div>
        <!-- End Box -->

        <!-- Box -->
        <div class="box">
          <img src="images/baker-logo.png" alt="" />
          <h4 class="product-title">I'm a product</h4>
          <h5 class="price">$15.00</h5>
          <div class="cart">
            <a href="#"><i class="bx bx-cart"></i></a>
          </div>
        </div>
        <!-- End Box -->

        <!-- Box -->
        <div class="box">
          <img src="images/santa-cruz-classic.png" alt="" />
          <h4 class="product-title">I'm a product</h4>
          <h5 class="price">$15.00</h5>
          <div class="cart">
            <a href="#"><i class="bx bx-cart"></i></a>
          </div>
        </div>
        <!-- End Box -->

        <!-- Box -->
        <div class="box">
          <img src="images/santa-cruz-ringed.png" alt="" />
          <h4 class="product-title">I'm a product</h4>
          <h5 class="price">$15.00</h5>
          <div class="cart">
            <a href="#"><i class="bx bx-cart"></i></a>
          </div>
        </div>
        <!-- End Box -->

        <!-- Box -->
        <div class="box">
          <img src="images/real-classic.png" alt="" />
          <h4 class="product-title">I'm a product</h4>
          <h5 class="price">$15.00</h5>
          <div class="cart">
            <a href="#"><i class="bx bx-cart"></i></a>
          </div>
        </div>
        <!-- End Box -->
      </div>
    </section>
    <!-- End Shop -->

    <!-- About -->
    <section class="about" id="about">
      <div class="about-content">
        <h2 class="heading">About</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium deleniti at quisquam consequatur explicabo nulla porro unde numquam dolores. Eius ipsam natus odio? Omnis fugiat illo, voluptatum quis eos quam.</p>
      </div>
    </section>
    <!-- End About -->

    <!-- Contact -->

    <section class="contact" id="contact">
      <div class="main-contact">
        <div class="contact-content">
          <li><a href="#shop">Shop</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </div>

        <div class="contact-content">
          <li><a href="#">Shipping &amp; Returns</a></li>
          <li><a href="#">Store Policy</a></li>
          <li><a href="#">Payment Methods</a></li>
        </div>

        <div class="contact-content">
          <li><a href="#">Contact</a></li>
          <li><a href="#">Tel: 123-456-7890</a></li>
        </div>

        <div class="contact-content">
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Instagram</a></li>
        </div>
      </div>
    </section>

    <div class="last">
      <p>&copy; 2023 by MERN - Skateshop</p>
    </div>

    <script src="js/main.js"></script>
  </body>
</html>
